*,
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #030e4f;
}

.center-elements {
    text-align: center;
}

.align-right {
    text-align: right;
}
/* headings and logo style */
#logo {
    margin-top: 30px;
    font-size: 3.5rem;
    color: #f49f1c;
}
/* quiz section, includes the counter, question, answers and 'next' button and */
#quiz-box {
    height: 420px;

    background-color: #f49f1c;
    margin: 60px 6%;
    border: #ffffff 1.2px solid;
    border-radius: 2rem;
    color: #000000;
}

#quiz-box div {
    padding: 0.3rem 0;
}
/* question style */
#question {
    font-size: 1.3rem;
    padding: 0 1.5rem;
    margin: 0;
}
/* counter for which question is displayed */
#question-counter {
    height: 4.1rem;
    width: 4.1rem;

    font-size: 1.4rem;
    background-color: #eeb050;
    color: #000000;
    border: #ffffff 0.1px solid;
    border-radius: 50%;
    line-height: 3.6rem;
    margin: auto;
    margin-top: -2rem;
}
/* answers section */
.answers {
    height: 50px;
    width: 80%;
    
    display: inline-block;
    font-size: 1.2rem;
    margin: 10px 20px;
    border-radius: 10px;
    border: #ffffff 0.1px solid;
    background-color: rgba(240, 255, 255, 0.295);
    line-height: 50px;
}

.answers:hover {
    background-color: rgba(54, 114, 114, 0.295);
}

/* button for the next question */
#next-question {
    height: 2.3rem;
    width: 4.8rem;
    
    font-size: 1.2rem;
    margin: 3px 20px;
    border-radius: 20px;
    color: #030e4f;
    background-color: rgba(240, 255, 255, 0.295);
}
#next-question:hover {
    background-color: rgba(54, 114, 114, 0.295);
}

/* hide class */
.hide {
    display: none;
}

/* class right answer  */
.right {
    background-color: green;
}

/* class wrong answer  */
.wrong {
    background-color: red;
}

/* Restart button  */

#restart-button {
    height: 50px;
    width: 80%;
    
    display: inline-block;
    font-size: 1.2rem;
    margin: 10px 20px;
    border-radius: 10px;
    border: #ffffff 0.1px solid;
    background-color: rgba(240, 255, 255, 0.295);
    line-height: 50px;
}